@media only screen and (min-width: 993px) and (max-width: 1540px) {
    .register {
        width: 90%!important;
        transition: all ease-in-out 0.7s;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px){
    header.container {
        width: 70%;
        transition: all ease-in-out 0.7s;
        display: flex!important;
        justify-content: space-between!important;
    }
    #main {
        width: 40%!important;
        margin-left: 30%!important;
        transition: all ease-in-out 0.7s;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1500px){
    header.container {
       /* margin-left: 0px!important;  */
        width: 70%;
        transition: all ease-in-out 0.7s;
        display: flex!important;
        justify-content: space-between!important;
    }
    #main {
        width: 80%; 
        /* margin-left: 15%!important; */
        transition: all ease-in-out 0.7s;
    }
}
@media only screen and (max-width: 993px) {
    header.container {
        margin: 0px!important;
        width: 100%;
        transition: all ease-in-out 0.7s;
        display: flex!important;
        justify-content: space-between!important;
    }
    #main {
        width: 80%!important;
        transition: all ease-in-out 0.7s;
        margin-left: 10%!important;
        padding: 0px;
    }
    .appname{
        font-size: 1em!important;
    }
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
body { 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(41, 42, 44);
    color: #ffffff;
}
nav.row{
    background-color: #212121;
}
#navbar {
    transition: all ease-in-out 0.3s;
    width: 100%;
}

header.container {
    transition: all ease-in-out 0.7s;
    display: flex;
    justify-content: space-around;
    
}

#main {
    margin-left: 36%;
    width: 30%;
    transition: all ease-in-out 0.7s;
}
.dropdown-arrow{
    line-height: unset!important;
    height: 100%;
}
h1 {
    font-size: 4em!important;
}
section {
    flex: 1 0 auto; 
    
}
.input-yellow, .input-pink, .input-red {
    height: 45px!important;
    margin-bottom: 20px!important;
    color: #ffffff;
}
.input-yellow:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #ffff00!important;
}
.input-pink:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #ff00ac!important;
}
.input-red:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #ff2c55!important;
}
.imginsta{
    margin-top: 5px;
    margin-left: 10px;
}
.appname{
    font-size: 1.8em;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.linkprofile{
    font-weight: bold;
}
#nickname{
    font-weight: bold;
    text-align: left;
}
.card{
    text-align: center;
}
.card-content{
    padding: 0px;
}
div.header ul.right{
    line-height: 94px;
}
ul li a{
    height: 64px;
}
ul li a:hover{
    background-color: transparent;
}
div.chip-profile{
    background-color: transparent;
}
#nicknameprofile{
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}
.photos-profile{
    max-width: 75%;
}
.photos-profile a{
    display: block;
    max-height: 270px;
    max-width: 300px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
}
.max-width{
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.photos-profile a:hover{
    transform: scale(1.15);
    filter: brightness(40%);
    transition: all ease-in-out 0.3s;
}
.dropdown-color{
    background-color: rgb(41, 42, 44);
}
.dropdown-color a{
    color: white!important;
}
#dropdown-menu li:hover{
    background-color: #ff2c55;
}
.nickname {
    display: inline-block;
}
.nickname .prefix {
    position: relative;
    top : 50px;
    left: -30px;
}
.comment span.nickname{
    font-weight: bold!important;
}
.show-more{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 0.8em;
}
/* VF */
.btnsubmit{
    top: 15px;
}
/* VF */
.zoomall{
    margin-bottom: 0px;
}
div.card-image{
    display: flex;
    justify-content: center;
    margin-top: 30px;    
}
.zoomimg{
    max-width: 50%;
    max-height: 50%;
}
.caption-zoom{
    padding: 15px 0px 0px 0px;
}
#allcomments{
    margin-top: 32px;
    margin-bottom: 32px;
    padding-right: 15px;
    overflow: unset;
    overflow-x: hidden;
    top: 56px;
    scroll-behavior: smooth;
}
form{
    height: auto;
}
div.input-field{
    margin: 10px;
    bottom: 10px;
}
.row-comment{
    height: 60px;
}
.form-comment{
    height: 0px;
}
div.input-field input.input-comment{
    width: 90%;
}
input.add-comment{
    width: 80%;
}